<div class="content center relative">
  <img class="logo" src="assets/icons/logo.svg" alt="">
  <form [formGroup]="resetForm" class="center column gap-24 relative" id="login">
    <div class="headline column center gap-24">
      <h1>Reset your password</h1>
      <div class="line"></div>
    </div>
    <span class="text-center">Change your account password</span>
    <div class="relative input column">
      <input type="password" name="username" placeholder="Password" formControlName="password">
      <img src="assets/icons/password.svg" alt="">
    </div>
    <div class="relative input column">
      <input type="password" name="username" placeholder="Confirm password" formControlName="confirmPassword">
      <img src="assets/icons/password.svg" alt="">
    </div>
    <button (click)=" onSubmit()" class="primary-btn center">Continue</button>
    <img routerLink="/login" class="arrow-left" src="assets/icons/arrow-left.svg" alt="">
  </form>
</div>