.content {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 36px 20px 348px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  box-sizing: border-box;
  color: var(--main-dark);
  z-index: 5;

  @media (max-width: 750px) {
    display: none;
  }
}

.help {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.profile-picture {
  min-height: 46px;
  min-width: 46px;
  border-radius: 100%;
  margin-left: 26px;
  padding: 1px;
  border: 3px solid var(--main-dark);
  color: white;
  background-color: var(--main-dark);
  cursor: pointer;
}

button {
  border-radius: 20px 0px 20px 20px;
  background: var(--main-dark);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #cdcdcd;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: -44px;
  right: 51px;
  cursor: pointer;
}
