<div class="background center">
  <div class="content display-flex relative">
    <svg (click)="triggerShowSlider()" class="close" width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M22.9629 7.6543L7.65513 22.9621" stroke="white" stroke-width="2" stroke-linecap="round" />
      <path d="M22.8184 23.1064L7.5106 7.79868" stroke="white" stroke-width="2" stroke-linecap="round" />
    </svg>
    <img (click)="triggerShowSlider()" class="cancel-x" src="assets/icons/cancel.svg" alt="">
    <div class="left-container">
      <img class="logo media-d-none" src="assets/img/logo.png" alt="">
      <h1>Add contact</h1>
      <div class="column">
        <span>Tasks are better with a Team!</span>
        <img src="assets/img/task-underline.svg" alt="">
      </div>
    </div>
    <div class="right-container display-flex">
      <div class="circle center">
        <img src="./assets/img/image-placeholder.png" alt="">
       </div>
      <form [formGroup]="contactForm" class="column" action="">
        <div>
          <div class="input relative ">
            <input type="text" name="" formControlName="first_name" placeholder="Firstname" id="">
            <img src="assets/icons/user.svg" alt="">
          </div>
          <div *ngIf="contactForm.controls['first_name'].invalid && contactForm.controls['first_name'].touched"
            class="error-message">Firstname
            is required </div>
        </div>

        <div>
          <div class="input relative">
            <input type="text" name="" formControlName="last_name" placeholder="Lastname" id="">
            <img src="assets/icons/user.svg" alt="">
          </div>
          <div *ngIf="contactForm.controls['last_name'].invalid && contactForm.controls['last_name'].touched"
            class="error-message">
            Lastname is required </div>
        </div>

        <div>
          <div class="input relative">
            <input type="email" name="" formControlName="email" placeholder="Email" id="">
            <img src="assets/icons/email.svg" alt="">
          </div>
          <div *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched"
            class="error-message">
            Valid email is required </div>
        </div>

        <div>
          <div class="input relative">
            <input type="text" name="" formControlName="phone" placeholder="Phone" id="">
            <img src="assets/icons/phone.svg" alt="">
          </div>
          <div *ngIf="contactForm.controls['phone'].invalid && contactForm.controls['phone'].touched"
            class="error-message">
            Phonenumber is required </div>
        </div>

        <div>
          <div class="input relative">
            <input type="color" value="#FF0000" name="" formControlName="color" placeholder="Color" id="">
            <img src="assets/icons/color-picker.svg" alt="">
          </div>
          <div *ngIf="contactForm.controls['color'].invalid && contactForm.controls['color'].touched"
            class="error-message">
            Pick a color is required </div>
        </div>

        <div class="display-flex gap-25 center">
          <button class="secondary-btn center" (click)="triggerShowSlider()">Cancel <svg width="25" height="25"
              viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="iconoir:cancel">
                <path id="Vector"
                  d="M12.501 12.5001L17.744 17.7431M7.258 17.7431L12.501 12.5001L7.258 17.7431ZM17.744 7.25708L12.5 12.5001L17.744 7.25708ZM12.5 12.5001L7.258 7.25708L12.5 12.5001Z"
                  stroke="#2A3647" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </g>
            </svg>
          </button>
          <button class="primary-btn center" [disabled]="!contactForm.valid" (click)="onSubmit() ">Create contact <img
              src="assets/icons/check.svg" alt=""></button>
        </div>

      </form>
    </div>
  </div>
</div>