.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 22;
  height: 100vh;
  width: 100vw;
  transition: all 225ms ease-in-out;
}

.content {
  width: 1212px;
  height: 594px;
  border-radius: 30px;
  background: #fff;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 10;
}

.left-container {
  display: inline-flex;
  height: 594px;
  padding: 66px 46px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  background: var(--version-2-main-color, #2a3647);
  color: white;
  box-sizing: border-box;

  .logo {
    width: 55px;
    height: 66px;
    padding-bottom: 12px;
  }

  h1 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
  }

  span {
    padding: 12px 0;
    font-size: 27px;
    font-weight: 400;
  }

  img {
    width: 90px;
  }
}

.right-container {
  padding-left: 100px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 618px;
  gap: 84px;

  input {
    display: flex;
    width: 422px;
    height: 51px;
    padding: 13px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--style, #d1d1d1);
    background: #fff;
    box-sizing: border-box;
    font-size: 21px;
    font-weight: 400;
  }
}

.circle {
  min-height: 120px;
  min-width: 120px;
  border-radius: 100%;
  background-color: #d1d1d1;
}

form {
  gap: 29px;
}

.cancel-x {
  position: absolute;
  top: 26px;
  right: 55px;
  cursor: pointer;
}

.create-btn {
  display: flex;
  height: 55px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: unset;
  background: #2a3647;
  color: #fff;
  font-size: 21px;
  font-weight: 700;

  &:hover {
    background-color: #29abe2;
    border-color: #29abe2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 225ms;
  }
}

.cancel-btn {
  display: flex;
  width: 136px;
  height: 55px;
  padding: 18px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--version-2-main-color, #2a3647);
  color: var(--version-2-main-color, #2a3647);
  font-size: 21px;
  font-weight: 400;

  &:hover {
    border-radius: 10px;
    border: 1px solid var(--ligth-blue, #29abe2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #29abe2 ;
    cursor: pointer;

    svg >*>*{
      stroke:   #29abe2;
    }
  }
}

.input {
  box-sizing: border-box;
  gap: 8px;
  font-size: 21px;
  font-weight: 400;

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    right: 21px;
  }
}
