.content {
  min-height: calc(100vh - 94px);
  width: calc(100vw - 453px);
  box-sizing: border-box;
}

.contacts-container {
  width: 325px;
  background-color: white;
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
  min-height: calc(100vh - 93px);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
}

.contact {
  display: flex;
  width: 285.6px;
  padding: 12px 20px;
  align-items: center;
  gap: 23.8px;
  border-radius: 10px;
  box-sizing: border-box;

  &:hover {
    background: var(--main-dark);
    cursor: pointer;

    .name {
      color: white;
    }
  }
}

.circle {
  height: 33.6px;
  width: 33.6px;
  border-radius: 100%;
  font-size: 9.6px;
  color: white;
}

.name {
  font-size: 16.8px;
  font-weight: 400;
}

.email {
  color: #007cee;
}

.letter {
  width: 285.6px;
  padding: 8px;
  flex-direction: column;
  gap: 8px;

  span {
    display: flex;
    width: 242.4px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    color: var(--main-dark);
    font-size: 16.8px;
  }
}

.sepate-contacts {
  padding: 11.2px 0; 
}

.contact-detail {
  width: calc(100vw - 685px);
  padding: 65.6px 46.4px;
  top: 0;
  left: 325px;
  box-sizing: border-box;
}

.name-container {
  display: flex;
  align-items: center;
}

.big-circle {
  min-height: 96px; 
  min-width: 96px; 
  border-radius: 100%;
  font-size: 37.6px; 
  font-weight: 500;
  color: var(--main-white);
}

.detail-name {
   font-size: 37.6px; 
  font-weight: 500;
}

.add-task {
  color: var(--task-blue);
  font-size: 12.8px; 
}

.contact.active {
  background: var(--main-dark);
  color: var(--main-white);
}

.pointer {
  cursor: pointer;
}
