.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 22;
  background-color: rgba(0, 0, 0, 0.15);
  animation: slideFromRight 500ms ease-in-out forwards;
  @media (max-width: 590px) {
    position: absolute;
    top: 80px;
    bottom: 80px;
    z-index: 1;
    overflow-x: hidden;
  }
}

.background.closing {
  animation: slideFromLeft 500ms ease-in-out forwards;
}

form {
  display: inline-flex;
  padding: 40px 40px 80px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 24px;
  background: var(--main-white);
  box-shadow: 0px 0px 3.2px 0px rgba(0, 0, 0, 0.1);
  font-size: 12.8px;
  width: 420px;
  overflow: hidden;

  @media (max-width: 590px) {
    height: calc(100vh - 80px);
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    border-radius: unset;
    padding: 40px 8vw 80px 8vw;
    z-index: 33;

    .description {
      width: 84vw;
    }

    h2 {
      font-size: 10vw;
    }
  }
}

.drop-down {
  min-width: 337.6px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--style, #d1d1d1);
  background: var(--main-white);
  box-sizing: border-box;
  transition: all 180ms;
  max-height: 129.6px;
  span {
    padding: 0 16.8px;
  }

  input {
    border: 1px solid var(--style, #d1d1d1);
  }
}

.drop-down-open {
  overflow-y: scroll;
  overflow-x: hidden;
}

.db {
  display: flex;
  padding: 10.4px 16.8px;
  align-items: center;
  min-height: 40.8px;
  max-height: 40.8px;
  gap: 8px;
  width: 337.6px;
  box-sizing: border-box;
  border-radius: 8px;
  background: var(--main-white);
}

.arrow-down {
  position: absolute;
  top: 19.2px;
  right: 16.8px;
  cursor: pointer;
}

.down {
  gap: 6.4px;

  span {
    display: flex;
    height: 40.8px;
    padding: 0 16.8px;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #d1d1d1;
    }
  }
}

.prio button {
  display: flex;
  width: 108.8px;
  height: 40.8px;
  padding: 14.4px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  box-shadow: 0px 0px 3.2px 0px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 17.28px;
  font-weight: 400;
  background-color: var(--main-white);
}

.selected-low,
.selected-medium,
.selected-urgent {
  box-shadow: 0px 3.2px 3.2px 0px rgba(0, 0, 0, 0.25) !important;
  color: var(--main-white) !important;
  font-weight: 700 !important;

  path {
    fill: var(--main-white);
  }
}

.selected-low {
  background: var(--prio-low) !important;
}

.selected-medium {
  background: var(--prio-medium) !important;
}

.selected-urgent {
  background: var(--prio-urgent) !important;
}

h2 {
  display: flex;
  width: 418.4px;
  flex-direction: column;
  color: var(--main-dark);
  font-size: 48.8px;
  font-weight: 700;
  margin: 0;
  word-wrap: break-word;
}

.category {
  display: flex;
  padding: 3.2px 29.2px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6.4px;
  color: var(--main-white);
  font-size: 21.6px;
  font-weight: 400;
}

.description {
  width: 414.4px;
  color: var(--main-dark);
  font-size: 17.28px;
  font-weight: 400;
  max-height: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

h3 {
  margin: 0;
}

.button-div {
  display: flex;
  position: absolute;
  right: 40px;
  bottom: 40px;
  border-radius: 8px;
  background: var(--main-white);
}

.delete-btn,
.edit-btn {
  border: 1px solid var(--main-dark);
  width: 40px;
  height: 40px;
  transition: all 180ms;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--task-blue);
    box-shadow: 0px 3.2px 3.2px rgba(0, 0, 0, 0.2);
  }
}

.delete-btn {
  border-radius: 8px 0px 0px 8px;
  background: var(--white, var(--main-white));

  &:hover {
    color: var(--task-blue);

    path {
      fill: var(--task-blue);
    }
  }
}

.edit-btn {
  border-radius: 0px 8px 8px 0px;
  background: var(--main-dark);

  &:hover {
    background-color: var(--task-blue);
  }
}

.close {
  position: absolute;
  right: 20px;
  top: 28px;
  z-index: 10;
  cursor: pointer;

  &:hover {
    path {
      stroke: var(--task-blue);
    }
  }
}

.edit-layout {
  width: 423px;
  min-height: 480px;

  @media (max-width: 590px) {
    width: 100vw;
    height: calc(100vh - 145px);
    position: absolute;
    bottom: 80px;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: unset;
    justify-content: center;
    overflow-y: scroll;
  }
}

.circle {
  min-height: 36px;
  min-width: 36px;
  background-color: var(--task-blue);
  color: var(--main-white);
  border-radius: 100%;
}

.prio-img {
  width: 120px;
}

.half-width {
  padding-bottom: 20px;
}
