.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 22;
  background-color: rgba(0, 0, 0, 0.15);
}

form {
  display: inline-flex;
  padding: 50px 50px 100px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  border-radius: 30px;
  background: var(--main-white);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  display: flex;
  padding: 13px 21px;
  align-items: center;
  gap: 10px;
  width: 422px;
  height: 51px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--style, #d1d1d1);
  background: var(--main-white);
  font-size: 21px;
  font-weight: 400;
}

textarea {
  height: 119px;
}

.drop-down {
  width: 422px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--style, #d1d1d1);
  background: var(--main-white);
  box-sizing: border-box;
  transition: all 225ms;
  max-height: 162px;
  span {
    padding: 0 21px;
  }

  input {
    border: 1px solid var(--style, #d1d1d1);
  }
}

.drop-down-open {
  overflow-y: scroll;
  overflow-x: hidden;
  .db {
    border: none;
  }
}

.db {
  display: flex;
  padding: 13px 21px;
  align-items: center;
  min-height: 51px;
  max-height: 51px;
  gap: 10px;
  width: 422px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--style, #d1d1d1);
  background: var(--main-white);
}

.arrow-down {
  position: absolute;
  position: absolute;
  top: 24px;
  right: 21px;
  cursor: pointer;
}

.down {
  gap: 8px;

  span {
    display: flex;
    height: 51px;
    padding: 0 21px;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #d1d1d1;
    }
  }
}

.prio button {
  display: flex;
  width: 136px;
  height: 51px;
  padding: 18px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 21px;
  font-weight: 400;
  background-color: var(--main-white);
}

input[type="checkbox"] {
  width: 30px;
}

.selected-low,
.selected-medium,
.selected-urgent {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  color: var(--main-white) !important;
  font-weight: 700 !important;

  path {
    fill: var(--main-white);
  }
}

.selected-low {
  background: var(--prio-low) !important;
}

.selected-medium {
  background: var(--prio-medium) !important;
}

.selected-urgent {
  background: var(--prio-urgent) !important;
}

h2 {
  display: flex;
  width: 523px;
  flex-direction: column;
  color: var(--main-dark);
  font-size: 61px;
  font-weight: 700;
  margin: 0;
}

.category {
  display: flex;
  padding: 4px 36.5px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  color: var(--main-white);
  font-size: 27px;
  font-weight: 400;
}

.description {
  width: 518px !important;
  color: var(--main-dark);
  font-size: 21px;
  font-weight: 400;
  height: 50px;
  width: 215px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

h3 {
  margin: 0;
}

.button-div {
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  right: 50px;
  bottom: 50px;
  border-radius: 10px;
  background: var(--white, var(--main-white));
}

.delete-btn,
.edit-btn {
  border: 1px solid var(--main-dark);
  width: 50px;
  height: 50px;
  transition: all 225ms;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--task-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
}

.delete-btn {
  border-radius: 10px 0px 0px 10px;
  background: var(--white, var(--main-white));

  &:hover {
    color: var(--task-blue);

    path {
      fill: var(--task-blue);
    }
  }
}

.edit-btn {
  border-radius: 0px 10px 10px 0px;
  background: var(--main-dark);

  &:hover {
    background-color:var(--task-blue);
  }
}

.close {
  position: absolute;
  right: 25px;
  top: 35px;
  z-index: 10;
  cursor: pointer;

  &:hover {
    path {
      stroke: var(--task-blue);
    }
  }
}

.edit-layout {
  width: 515px;
  min-height: 600px;
}

.save {
  height: 50px;
  padding: 18px 15px;
  border-radius: 10px;
  background: var(--main-dark);
  color: var(--main-white);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  right: 50px;
  bottom: 50px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--task-blue);
    border-color: var(--task-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 225ms;
  }
}

.circle {
  min-height: 45px;
  min-width: 45px;
  background-color: var(--task-blue);
  color: var(--main-white);
  border-radius: 100%;
}
