.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 22;
  background-color: rgba(0, 0, 0, 0.15);
}

form {
  display: inline-flex;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  display: flex;
  padding: 13px 21px;
  align-items: center;
  gap: 10px;
  width: 422px;
  height: 51px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--style, #d1d1d1);
  background: #fff;
  font-size: 21px;
  font-weight: 400;
}

textarea {
  height: 119px;
}

.drop-down {
  width: 422px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--style, #d1d1d1);
  background: #fff;
  box-sizing: border-box;
  transition: all 225ms;

  span {
    padding: 0 21px;
  }

  input {
    border: 1px solid var(--style, #d1d1d1);
  }
}

.arrow-down {
  position: absolute;
  position: absolute;
  top: 24px;
  right: 21px;
  cursor: pointer;
}

.down {
  gap: 8px;

  span {
    display: flex;
    height: 31px;
    padding: 0 21px;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #d1d1d1;
    }
  }
}

.prio button {
  display: flex;
  width: 136px;
  height: 51px;
  padding: 18px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 21px;
  font-weight: 400;
  background-color: #fff;
}

.button-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.clear-btn {
  background-color: transparent;
  display: flex;
  width: 136px;
  height: 55px;
  padding: 18px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--version-2-main-color, #2a3647);
  box-sizing: border-box;
  color: var(--version-2-main-color, #2a3647);
  font-size: 21px;
  cursor: pointer;

  &:hover {
    border-radius: 10px;
    border: 1px solid var(--ligth-blue, #29abe2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #29abe2;
    cursor: pointer;

    svg > * > * {
      stroke: #29abe2;
    }
  }
}

.add-btn {
  display: flex;
  height: 55px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  background: #2a3647;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: #29abe2;
    border-color: #29abe2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 225ms;
  }
}

.db {
  display: flex;
  padding: 13px 21px;
  align-items: center;
  height: 51px;
  gap: 10px;
  width: 422px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--style, #d1d1d1);
  background: #fff;
}

input[type="checkbox"] {
  width: 30px;
}

.created-task {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 326px;
  height: 74px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #2a3647;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 21px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.selected-urgent {
  background: #ff3d00 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  color: #fff !important;
  font-weight: 700 !important;

  path {
    fill: white !important;
  }
}

.selected-medium {
  background: #ffa800 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  color: #fff !important;
  font-weight: 700 !important;

  path {
    fill: white;
  }
}

.selected-low {
  background: #7ae229 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  color: #fff !important;
  font-weight: 700 !important;

  path {
    fill: white;
  }
}

h2 {
  display: flex;
  width: 523px;
  flex-direction: column;
  color: var(--version-2-main-color, #2a3647);
  font-size: 61px;
  font-weight: 700;
  margin: 0;
}

.category {
  display: flex;
  padding: 4px 36.5px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #fc71ff;
  color: #fff;
  font-size: 27px;
  font-weight: 400;
}

.description {
  display: flex;
  width: 518px;
  flex-direction: column;
  color: var(--black, #000);
  font-size: 21px;
  font-weight: 400;
}

h3 {
  margin: 0;
}

.button-div {
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  right: 47px;
  bottom: 61px;
  border-radius: 10px;
  background: var(--white, #fff);
}

.delete-btn,
.edit-btn {
  border: 1px solid var(--version-2-main-color, #2a3647);
  width: 50px;
  height: 50px;
  transition: all 225ms;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--ligth-blue, #29abe2);
    border-color: #29abe2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
}

.delete-btn {
  border-radius: 10px 0px 0px 10px;
  background: var(--white, #fff);

  &:hover {
    color: #29abe2;

    path {
      fill: #29abe2;
    }
  }
}

.edit-btn {
  border-radius: 0px 10px 10px 0px;
  background: var(--version-2-main-color, #2a3647);

  &:hover {
    background-color: #29abe2;
  }
}

.close {
  position: absolute;
  right: 25px;
  top: 35px;
  z-index: 10;
  cursor: pointer;

  &:hover {
    path {
      stroke: #29abe2;
    }
  }
}

.edit-layout {
  width: 623px;
  height: 824px;
}

.save {
  height: 50px;
  padding: 18px 15px;
  border-radius: 10px;
  background: #2a3647;
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  right: 47px;
  bottom: 61px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #29abe2;
    border-color: #29abe2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 225ms;
  }
}

.circle {
  min-height: 45px;
  min-width: 45px;
  background-color: #29abe2;
  color: white;
  border-radius: 100%;
}
