<div class="content column">
  <app-headline [h1]="h1" [motto]="motto"></app-headline>
  <div class="display-flex gap-67">
    <div class="column dashboard gap-28">
      <div class="display-flex gap-28">
        <div routerLink="/board" class="task-number-card column center">
          <span class="number">{{tasks.length}}</span>
          <span class="task-status">Task in <br> Board</span>
        </div>
        <div routerLink="/board" class="task-number-card column center">
          <span class="number">{{inProgress.length}}</span>
          <span class="task-status">Task in <br> Progress</span>
        </div>
        <div routerLink="/board" class="task-number-card column center">
          <span class="number">{{awaitingFeedback.length}}</span>
          <span class="task-status">Awaiting <br> Feedback</span>
        </div>
      </div>
      <div routerLink="/board" class="important-tasks display-flex center">
        <div class="urgent-count display-flex center">
          <img src="assets/icons/important.png" alt="">
          <div class="display-flex column">
            <div class="urgent-number">{{urgent.length}}</div>
            <div class="urgent-text">Urgent</div>
          </div>
        </div>
        <div class="seperate-line"></div>
        <div class="display-flex column gap-13">
          <span *ngIf="upComing" class="date">{{upComing}}</span>
          <span *ngIf="!upComing" class="date">No</span>
          <span class="date-text">Upcoming Deadline</span>
        </div>
      </div>
      <div class="display-felx">
        <div class="gap-28 display-flex">
          <div routerLink="/board" class="to-do-done-container display-flex center">
            <svg class="todo-svg" width="56" height="56" viewBox="0 0 56 56" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <circle cx="28" cy="28" r="27" fill="#2A3647" />
              <path
                d="M24.78 39.1749L19.212 35.7976L33.3722 12.466C33.9453 11.5217 35.1753 11.2208 36.1196 11.7939L38.2649 13.0959C39.2092 13.669 39.5101 14.899 38.9371 15.8433L24.78 39.1749Z"
                fill="white" />
              <path
                d="M24.105 40.2874L18.54 36.9101L19.3962 40.4097C19.5274 40.9462 20.0687 41.2747 20.6051 41.1435L24.105 40.2874Z"
                fill="white" />
            </svg>
            <div class="column">
              <span class="to-do-done-number">
                {{open.length}}
              </span>
              <span class="to-do-done-text">
                To-do
              </span>
            </div>
          </div>
          <div routerLink="/board" class="to-do-done-container display-flex center">
            <svg class="done-svg" width="56" height="56" viewBox="0 0 56 56" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <circle cx="28" cy="28" r="27" fill="#2A3647" />
              <path d="M15.6483 31.0001L26.8771 42.0662L45.5917 19.9341" stroke="white" stroke-width="5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <div class="column">
              <span class="to-do-done-number">
                {{done.length}}
              </span>
              <span class="to-do-done-text">
                Done
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="justify-center column">
      <span class="greeting">{{ greetingMessage }}</span>
      <span class="name">{{firstName}} {{lastName}}</span>
    </div>
  </div>
</div>