.content {
  padding-top: 65.6px;
  padding-left: 98.4px;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  font-style: normal;
  min-height: calc(100vh - 93px);

  @media (max-width: 1115px) {
    .media-d-none {
      display: none;
    }
    width: 100vw;
    padding: 6vw;
  }

  @media (max-width: 750px) {
    padding: 6vw;
    height: calc(100svh - 160px);

    .media-gap {
      gap: 3vw;
    }
  }
}

.dashboard {
  margin-top: 54px;

  @media (max-width: 750px) {
    width: 100vw;

    margin-top: 35px;
  }
}

.task-number-card {
  height: 136px;
  width: 136px;
  padding: 20px 0px;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--main-white);
  box-shadow: 0px 0px 3.2px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    background-color: var(--main-dark);
    color: var(--main-white);
  }

  @media (max-width: 880px) {
    height: unset;
    aspect-ratio: 1/1;
    width: calc(100% / 3);
  }

  @media (max-width: 750px) {
    padding: 0;
  }
}

.number {
  font-weight: 600;
  font-size: 51.2px;

  @media (max-width: 750px) {
    font-size: 12vw;
  }
}

.task-status {
  font-weight: 400;
  font-size: 16.8px;

  @media (max-width: 750px) {
    font-size: 3vw;
  }
}

.important-tasks {
  width: 464px;
  height: 120px;
  background-color: var(--main-white);
  border-radius: 24px;
  padding: 22.4px 38.4px;
  box-sizing: border-box;
  gap: 48.8px;
  cursor: pointer;

  &:hover {
    background-color: var(--main-dark);
    color: var(--main-white);
  }

  @media (max-width: 880px) {
    width: 100%;
    height: unset;
    aspect-ratio: 3.87 / 1;
    background-color: var(--main-white);
    border-radius: 24px;
    padding: 22.4px 38.4px;
    box-sizing: border-box;
    gap: 48.8px;
    cursor: pointer;
  }

  @media (max-width: 750px) {
    padding: 0;
    gap: 11vw;
  }
}

.urgent-count {
  gap: 14.4px;

  .urgent-number {
    font-weight: 600;
    font-size: 37.6px;
    text-align: center;

    @media (max-width: 750px) {
      font-size: 9vw;
    }
  }

  .urgent-text {
    font-weight: 400;
    font-size: 13.6px;
    @media (max-width: 750px) {
      font-size: 3vw;
    }
  }
}

.seperate-line {
  height: 81.6px;
  width: 1.6px;
  background-color: #d1d1d1;

  @media (max-width: 750px) {
    height: 66%;
  }
}

.date {
  font-weight: 700;
  font-size: 16.8px;
  white-space: nowrap;

  @media (max-width: 750px) {
    font-size: 4vw;
  }
}

.date-text {
  font-weight: 400;
  font-size: 12.8px;
  white-space: nowrap;

  @media (max-width: 750px) {
    font-size: 3vw;
  }
}

.to-do-done-container {
  gap: 14.4px;
  width: 218px;
  height: 120px;
  background: var(--main-white);
  box-shadow: 0px 0px 3.2px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 30.4px 15.2px;
  box-sizing: border-box;
  justify-content: center;

  @media (max-width: 880px) {
    width: 50%;
    height: unset;
    aspect-ratio: 1.82 / 1;
  }

  @media (max-width: 750px) {
    padding: 0;
  }
}

.to-do-done-number {
  font-weight: 600;
  font-size: 51.2px;
  text-align: center;

  @media (max-width: 750px) {
    font-size: 11vw;
  }
}

.to-do-done-text {
  font-weight: 400;
  font-size: 16.8px;

  @media (max-width: 750px) {
    font-size: 4vw;
  }
}

.to-do-done-container:hover {
  background-color: var(--main-dark);
  color: var(--main-white);
  cursor: pointer;

  svg circle {
    fill: var(--main-white);
  }

  .todo-svg path {
    fill: var(--main-dark);
  }

  .done-svg path {
    stroke: var(--main-dark);
  }
}

.greeting {
  color: var(--main-dark);
  font-size: 37.6px;
  font-weight: 500;
}

.name {
  color: var(--main-blue);
  font-size: 51.2px;
  font-weight: 700;
}
