<div class="content center relative">
  <img class="logo" src="assets/icons/logo.svg" alt="">
  <form [formGroup]="loginForm" class="center column gap-35" id="login">
    <div class="headline column center gap-24">
      <h1>Log in</h1>
      <div class="line"></div>
    </div>
    <div>
      <div class="input relative">
        <input type="text" name="username" placeholder="Email" formControlName="email">
        <img src="assets/icons/email.svg" alt="">
      </div>
      <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="error-message">
        Valid Email is required
      </div>
    </div>
    <div>
      <div class="input relative">
        <input type="password" name="password" placeholder="Password" formControlName="password">
        <img src="assets/icons/password.svg" alt="">
      </div>
      <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
        class="error-message">
        Password is required
      </div>
    </div>
    <div class="center">
      <div class="center">
        <input class="check-box" id="remember" type="checkbox">
        <label for="remember">Remember me</label>
      </div>
      <span class="link" routerLink="/forgot-password">Forgot my password</span>
    </div>
    <div class="center gap-35">
      <button class="login-btn" (click)="login()">Login</button>
      <button class="guest-login-btn" (click)="login(true)">Guest Login</button>
    </div>
  </form>

  <div class="registration-container display-flex gap-35 center">
    <span>Not a Join user?</span>
    <button routerLink="/register">Sign up</button>
  </div>
</div>