<div class="content center relative">
  <img class="logo" src="assets/icons/logo.svg" alt="">
  <form [formGroup]="loginForm" class="center column gap-35 relative" id="login">
    <div class="headline column center gap-24">
      <h1>Log in</h1>
      <div class="line"></div>
    </div>
    <div class="column gap-13 relative">
      <div class="column gap-5">
        <div class="input relative">
          <input type="text" name="email" placeholder="Email" formControlName="email">
          <img src="./assets/icons/email.svg" alt="">
        </div>
        <ng-container
          *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched; else placeHolder">
          <div class="error-message">
            Valid Email is required
          </div>
        </ng-container>
        <ng-template #placeHolder>
          <div class="place-holder"></div>
        </ng-template>
      </div>
      <div class="column gap-5">
        <div class="input relative">
          <input type="password" name="password" placeholder="Password" formControlName="password">
          <img src="./assets/icons/password.svg" alt="">
        </div>
        <ng-container
          *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched; else placeHolder">
          <div class="error-message">
            Password is required
          </div>
        </ng-container>
        <ng-template #placeHolder>
          <div class="place-holder"></div>
        </ng-template>
        <span *ngIf="registrationSuccess" class="success">Thank you for registering. You can now access your account.
        </span>
        <span *ngIf="resetedPasswordSuccess" class="success">Your password has been successfully reset. You can now log in.
        </span>
      </div>
    </div>
    <div class="center media-column">
      <div class="center">
        <input class="check-box" id="remember" type="checkbox">
        <label for="remember">Remember me</label>
      </div>
      <span class="link" routerLink="/forgot-password">Forgot my password</span>
    </div>
    <div class="center gap-35">
      <button class="primary-btn center" (click)="login()">Login</button>
      <button class="secondary-btn center" (click)="login(true)">Guest Login</button>
    </div>
  </form>

  <div class="registration-container display-flex gap-35 center">
    <span>Not a Join user?</span>
    <button class="primary-btn center" routerLink="/register">Sign up</button>
  </div>
</div>