<div class="content center relative">
  <img class="logo" src="assets/icons/logo.svg" alt="">
  <form (ngSubmit)="login()" class="center column gap-35" id="login">
    <div class="headline column center gap-24">
      <h1>Log in</h1>
      <div class="line"></div>
    </div>
    <div class="relative input column">
      <input type="text" name="username" placeholder="Username" [(ngModel)]="username" required>
      <img src="assets/icons/email.svg" alt="">
    </div>
    <div class="relative input">
      <input type="password" name="password" placeholder="Password" [(ngModel)]="password" required>
      <img src="assets/icons/password.svg" alt="">
    </div>
    <div class="center">
      <div class="center">
        <input class="check-box" id="remember" type="checkbox">
        <label for="remember">Remember me</label>
      </div>
      <span class="link" routerLink="/forgot-password">Forgot my password</span>
    </div>
    <div class="center gap-35">
      <button class="login-btn">Login</button>
      <button class="guest-login-btn" (click)="guestLogin()">Guest Login</button>
    </div>
  </form>

  <div class="registration-container display-flex gap-35 center">
    <span>Not a Join user?</span>
    <button routerLink="/register">Sign up</button>
  </div>
</div>