.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 22;
  height: 100vh;
  width: 100vw;
  animation: slideFromRight 500ms ease-in-out forwards;
}

.background.closing {
  animation: slideFromLeft 500ms ease-in-out forwards;
}

.content {
  padding: 24px 48px;
  background-color: var(--main-white);
  box-sizing: border-box;
  height: 713px;
  width: 900px;
  animation: slideFromRight 500ms ease-in-out forwards;
  border-radius: 30px;
 
  @media (max-width: 915px) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    padding: 65.6px 8vw 100px 8vw;
    border-radius: unset;
    width: 100vw;

    input,
    textarea,
    .prio {
      min-width: unset;
      width: 83vw !important;
    }
    .drop-down {
      width: 84vw !important;
    }
  }
}

h1 {
  font-size: 48.8px;
  font-weight: 700;
  margin-top: 0;
}

form {
  max-width: 772px;

  @media (max-width: 900px) {
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 60px;
    gap: unset;
    max-width: 84vw;

    .mobile-d-none {
      display: none;
    }
  }
}

.drop-down {
  width: 337.6px;
  border-radius: 8px;
  border: 1px solid var(--style, #d1d1d1);
  background: var(--main-white);
  box-sizing: border-box;
  transition: all 225ms;
  max-height: 122.4px;

  input {
    border: none;
  }

  span {
    padding: 0 16.8px;
    height: 40.8px;
    cursor: pointer;
  }
}

.arrow-down {
  position: absolute;
  top: 16px;
  right: 16.8px;
  cursor: pointer;
}

.prio button {
  display: flex;
  width: 108.8px;
  height: 40.8px;
  padding: 14.4px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  color: var(--main-dark);
  font-size: 16.8px;
  font-weight: 400;
  background-color: var(--main-white);
}

.button-container {
  position: absolute;
  right: 0;
  bottom: 0;

  @media (max-width: 900px) {
    right: 50%;
    left: unset;
    transform: translateX(50%);
  }
}

input[type="checkbox"] {
  width: 16px;
}

.created-task {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 260.8px;
  height: 59.2px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: var(--main-dark);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--main-white);
  font-size: 16.8px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.selected-low,
.selected-medium,
.selected-urgent {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  color: var(--main-white) !important;
  font-weight: 700 !important;

  path {
    fill: var(--main-white);
  }
}

.selected-low {
  background: var(--prio-low) !important;
}

.selected-medium {
  background: var(--prio-medium) !important;
}

.selected-urgent {
  background: var(--prio-urgent) !important;
}

.pointer {
  cursor: pointer;
}

.drop-down-open {
  overflow-x: hidden;
  overflow-y: auto;

  .arrow-down {
    transform: rotateX(180deg);
  }

  input {
    border: none;
  }
  span:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.dot {
  min-height: 16px;
  min-width: 16px;
  border-radius: 100%;
  border: 1.6px white solid;
  cursor: pointer;
}

.circle {
  min-height: 36px;
  min-width: 36px;
  background-color: var(--task-blue);
  color: white;
  border-radius: 100%;
}

.new-task {
  position: absolute;
  top: 15.2px;
  right: 16.8px;

  img {
    cursor: pointer;
  }
}

.selected-color {
  border-color: black !important;
}

.input-dot {
  position: absolute;
  left: 160px;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  border-radius: 100%;
}

.color-container {
  margin-top: -12px;
}

.subtasks {
  padding: 0 8px;
}

.cancel-x {
  position: absolute;
  top: 20.8px;
  right: 44px;
  cursor: pointer;
}
