<div cdkDrag class="card">
  <div class="card-category">{{task.category}}</div>
  <div class="card-content">
    <h3>{{task.title}}</h3>
    <span>{{task.description}}</span>
  </div>
  <div class="space-between full-width center">
    <div class="progress-bar"></div>
    <span>0/{{task.sub_tasks.length}} Done</span>
  </div>
  <div class="space-between full-width align-center">
    <div class="circle-container display-flex">
      <div class="circle center">BB</div>
      <div class="circle center">BB</div>
      <div class="circle center">BB</div>
    </div>
    <img [src]="'assets/icons/card-'+task.priority+'.svg'" alt="">
  </div>
</div>