.card {
  display: flex;
  font-size: 12.8px;
  max-width: 200px; 
  max-height: 200px; 
  padding: 14.4px 15.2px; 
  flex-direction: column;
  align-items: flex-start;
  gap: 16px; 
  border-radius: 24px; 
  background-color: var(--main-white);
  box-shadow: 0px 0px 11.2px 2.4px rgba(0, 0, 0, 0.04); 
  box-sizing: border-box;
  cursor: pointer;
}

.card-category {
  box-sizing: border-box;
  display: flex;
  padding: 3.2px 20px; 
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6.4px; 
  background-color: var(--label-5);
  color: var(--main-white);
  font-size: 0.8rem; 
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px; 

  h3 {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 700;
  }

  span {
    color: #a8a8a8;
    height: 30.4px; 
    width: 172px; 
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    display: block;
  }
}

.progress-bar {
  width: 110.4px; 
  height: 6.4px; 
  border-radius: 1.6px; 
  background: var(--label-8);
  overflow: hidden;
}

.circle {
  min-height: 28px; 
  min-width: 28px; 
  background-color: var(--task-blue);
  color: var(--main-white);
  border-radius: 100%;
  border: 1px solid var(--main-white);

  &:not(:first-child) {
    margin-left: -4.8px; 
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 24px; 
  box-shadow: 0 4px 4px -2.4px rgba(0, 0, 0, 0.2), 0 6.4px 8px 0.8px rgba(0, 0, 0, 0.14), 0 2.4px 11.2px 1.6px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  border: 1px dashed var(--main-white);
  background-color: transparent;
}

.cdk-drag-placeholder > * {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.progress {
  background-color: var(--task-blue);
  height: 6.4px; 
}

