<div class="content">

  <h1>Help</h1>

  <div>
    <h2>What is Join?</h2>
    <p>
      Join is a classical task management tool with a kanban-board.
      You can organize your tasks whithin a project or business processes.
      It is perfectly suitable for working together with your team.
      Join let you and your team work more efficiently.
      You have all of your taks in focus und won't miss upcoming deadlines anymore.
      Start working with Join now!
    </p>
    <h2>How to use it</h2>
    <h2>1.</h2>
    <p>
      Add a task with title, description and category. Assign the task to other team members of your contact
      list
      or invite new contacts.
    </p>
    <h2>2.</h2>
    <p>
      Check the current status of your tasks in the kanban-board. You can drag and drop your task to change the
      status. Also it is possible to edit the task details.
    </p>
    <h2>3.</h2>
    <p>
      Add team members to your contact list to communicate to them fastly. Also you can assign tasks directly to
      your contacts.
    </p>
  </div>
</div>