.content {
  position: relative;
}

.path-content {
  position: absolute;
  top: 94px;
  left: 232px;
  height: 100%;
  width: calc(100% - 232px);
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}
