.headline {
  display: flex;
  gap: 24px;
  align-items: center;

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 49px;
  }

  span {
    font-weight: 400;
    font-size: 21px;
    white-space: nowrap;
  }

  img {
    height: 47.2px;
  }
}