.content {
  padding: 65.6px 98.4px;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  min-height: calc(100vh - 74.4px);

  @media (max-width: 1100px) {
    padding: 65.6px 8vw;
  }

  @media (max-width: 750px) {
    min-height: calc(100svh - 160px);
    padding: 65.6px 8vw 100px 8vw;
  }
}

.board {
  max-width: 1120px;
}

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 48.8px;
  }

  @media (max-width: 1100px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    position: relative;

    .media-btn {
      position: absolute;
      right: 0;
      top: 0;

      span {
        display: none;
      }
    }
  }
}

.plus-icon:hover,
.plus-icon:hover > * {
  stroke: rgb(0, 144, 224);
  cursor: pointer;
}

.input {
  box-sizing: border-box;

  img {
    position: absolute;
    top: 8px;
    right: 6.4px;
  }
}

.drag-drop-container {
  box-sizing: border-box;
  margin-top: 64px;

  @media (max-width: 1100px) {
    margin-top: unset;

    &:first-child {
      margin-top: 35px;
    }
  }
}

.drag-drop-header {
  min-width: 200px;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 0 28px;
  white-space: nowrap;
  gap: 10px;

  h3 {
    margin: 0;
  }

  svg {
    cursor: pointer;
  }
}

.drag-drop-area {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 28px;
  min-height: calc(100vh - 500px);

  @media (max-width: 1100px) {
    min-height: 235px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
}

input {
  height: 44px;
}

.drag-drop-group {
  overflow-x: scroll;

  @media (max-width: 1100px) {
    flex-direction: column;
    gap: 28px;
  }
}

.fixed-position {
  position: fixed;
  top: 80px;
  right: 0;
  left: 232px;

  @media (max-width: 590px) {
    position: fixed;
    display: none;
  }
}
