.content {
   padding: 82px 123px;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  min-height: calc(100vh - 93px);
}

.board {
  max-width: 1400px;
}

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 61px;
  }

  input {
    box-sizing: border-box;
    height: 51px;
    width: 251px;
    padding: 13px 21px;
    border-radius: 10px;
    border-radius: 1px solid #a8a8a8;
  }

  button {
    display: flex;
    height: 55px;
    padding: 18px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--main-dark);
    color: white;
    font-size: 21px;
    font-weight: 700;
    width: 140.08px;
    cursor: pointer;

    &:hover {
      background: var(--main-blue);
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.43);
    }
  }
}

.plus-icon:hover,
.plus-icon:hover > * {
  stroke: rgb(0 144 224);
  cursor: pointer;
}
.input {
  box-sizing: border-box;

  img {
    position: absolute;
    top: 10px;
    right: 8px;
  }
}

.drag-drop-container {
  box-sizing: border-box;
  margin-top: 99px;
}

.drag-drop-header {
  width: 250px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 0 35px 0;

  h3 {
    margin: 0;
  }

  svg {
    cursor: pointer;
  }
}

.drag-drop-area {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 190px);
  gap: 35px;
  box-sizing: border-box;
}

.slide-in {
  height: 500px !important;
  width: 500px !important;
  animation: slideInFromRight 0.5s forwards;
  background-color: white;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
