.content {
  padding: 65.6px 98.4px; 
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  min-height: calc(100vh - 74.4px); 
}

h1 {
  font-size: 48.8px; 
  font-weight: 700;
  margin-top: 0;
}

form {
  max-width: 772px; 
}

.drop-down {
  width: 337.6px; 
  border-radius: 8px; 
  border: 1px solid var(--style, #d1d1d1);
  background: var(--main-white);
  box-sizing: border-box;
  transition: all 225ms;
  max-height: 122.4px; 
  span {
    padding: 0 16.8px; 
    height: 40.8px; 
    cursor: pointer;
  }
}

.arrow-down {
  position: absolute;
  top: 19.2px; 
  right: 16.8px; 
  cursor: pointer;
}

.prio button {
  display: flex;
  width: 108.8px; 
  height: 40.8px; 
  padding: 14.4px 8px; 
  justify-content: center;
  align-items: center;
  gap: 8px; 
  border-radius: 8px; 
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  color: var(--main-dark);
  font-size: 16.8px; 
  font-weight: 400;
  background-color: var(--main-white);
}

.button-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

input[type="checkbox"] {
  width: 16px; 
}

.created-task {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 260.8px; 
  height: 59.2px; 
  justify-content: center;
  align-items: center;
  border-radius: 16px; 
  background: var(--main-dark);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--main-white);
  font-size: 16.8px; 
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.selected-low,
.selected-medium,
.selected-urgent {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  color: var(--main-white) !important;
  font-weight: 700 !important;

  path {
    fill: var(--main-white);
  }
}

.selected-low {
  background: var(--prio-low) !important;
}

.selected-medium {
  background: var(--prio-medium) !important;
}

.selected-urgent {
  background: var(--prio-urgent) !important;
}

.pointer {
  cursor: pointer;
}

.drop-down-open {
  overflow-x: hidden;
  overflow-y: scroll;

  input {
    border: none;
  }
  span:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.dot {
  min-height: 16px; 
  min-width: 16px; 
  border-radius: 100%;
  margin: -12px 0 6.4px 6.4px; 
  border: 1.6px white solid; 
  cursor: pointer;
}

.circle {
  min-height: 36px; 
  min-width: 36px; 
  background-color: var(--task-blue);
  color: white;
  border-radius: 100%;
}

.new-task {
  position: absolute;
  top: 15.2px; 
  right: 16.8px; 

  img {
    cursor: pointer;
  }
}

.selected-color {
  border-color: black !important;
}

.input-dot {
  position: absolute;
  left: 160px; 
  top: 28%; 
  transform: translateY(-50%);
  height: 16px; 
  width: 16px; 
  border-radius: 100%;
  margin: 6.4px 0 6.4px 6.4px; 
}
