.content {
  padding: 82px 123px;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  min-height: calc(100vh - 93px);
}

h1 {
  font-size: 61px;
  font-weight: 700;
  margin-top: 0;
}

form {
  max-width: 965px;
}

input,
textarea {
  display: flex;
  padding: 13px 21px;
  align-items: center;
  width: 422px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--style, #d1d1d1);
  background: var(--main-white);
  font-size: 21px;
  font-weight: 400;

  &:focus {
    outline: none;
  }
}

input {
  height: 51px;
}

textarea {
  height: 119px;
}

.drop-down {
  width: 422px;
  border-radius: 10px;
  border: 1px solid var(--style, #d1d1d1);
  background: var(--main-white);
  box-sizing: border-box;
  transition: all 225ms;
  max-height: 153px;
  span {
    padding: 0 21px;
    height: 51px;
    cursor: pointer;
  }
}

.arrow-down {
  position: absolute;
  top: 24px;
  right: 21px;
  cursor: pointer;
}

.prio button {
  display: flex;
  width: 136px;
  height: 51px;
  padding: 18px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  color: var(--main-dark);
  font-size: 21px;
  font-weight: 400;
  background-color: var(--main-white);
}

.button-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.clear-btn,
.add-btn {
  height: 55px;
  padding: 18px 15px;
  gap: 10px;
  border-radius: 10px;
  border: none;
  color: var(--main-white);
  font-size: 21px;
  font-weight: 700;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    border-color: var(--task-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    transition: all 225ms;
  }
}

.clear-btn {
  background-color: transparent;
  width: 136px;
  border: 1px solid var(--main-dark);
  color:  var(--main-dark);

  &:hover {
    border: 1px solid var(--task-blue);
    color: var(--task-blue);

    svg > * > * {
      stroke: var(--task-blue);
    }
  }
}

.add-btn {
  border: none;
  background: var(--main-dark);
  color: var(--main-white);

  &:hover {
    background-color: var(--task-blue);
    border-color: var(--task-blue);
  }
}

input[type="checkbox"] {
  width: 24px;
}

.created-task {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 326px;
  height: 74px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--main-dark);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--main-white);
  font-size: 21px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.selected-low,
.selected-medium,
.selected-urgent {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  color: var(--main-white) !important;
  font-weight: 700 !important;

  path {
    fill: var(--main-white);
  }
}

.selected-low {
  background: var(--prio-low) !important;
}

.selected-medium {
  background: var(--prio-medium) !important;
}

.selected-urgent {
  background: var(--prio-urgent) !important;
}

.pointer {
  cursor: pointer;
}

.drop-down-open {
  overflow-x: hidden;
  overflow-y: scroll;

  input {
    border: none;
  }
  span:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.dot {
  min-height: 20px;
  min-width: 20px;
  border-radius: 100%;
  margin: -15px 0 8px 8px;
  border: 2px white solid;
  cursor: pointer;
}

.circle {
  min-height: 45px;
  min-width: 45px;
  background-color: var(--task-blue);
  color: white;
  border-radius: 100%;
}

.new-task {
  position: absolute;
  top: 19px;
  right: 21px;

  img {
    cursor: pointer;
  }
}

.selected-color {
  border-color: black !important;
}

.input-dot {
  position: absolute;
  left: 200px;
  top: 35%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin: 8px 0 8px 8px;
}
