.content {
  padding: 82px 123px;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  height: calc(100vh - 93px);
}

h1 {
  font-size: 61px;
  font-weight: 700;
  margin-top: 0;
}

form {
  max-width: 965px;
}

input,
textarea {
  display: flex;
  padding: 13px 21px;
  align-items: center;
  width: 422px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--style, #d1d1d1);
  background: #fff;
  font-size: 21px;
  font-weight: 400;

  &:focus {
    outline: none;
  }
}

input {
  height: 51px;
}

textarea {
  height: 119px;
}

.drop-down {
  width: 422px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--style, #d1d1d1);
  background: #fff;
  box-sizing: border-box;
  transition: all 225ms;
  max-height: 162px;
  span {
    padding: 0 21px;
    height: 51px;
    cursor: pointer;
  }
}

.arrow-down {
  position: absolute;
  position: absolute;
  top: 24px;
  right: 21px;
  cursor: pointer;
}

.prio button {
  display: flex;
  width: 136px;
  height: 51px;
  padding: 18px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 21px;
  font-weight: 400;
  background-color: #fff;
}

.button-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.clear-btn,
.add-btn {
  height: 55px;
  padding: 18px 15px;
  gap: 10px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    border-color: #29abe2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    transition: all 225ms;
  }
}

.clear-btn {
  background-color: transparent;
  width: 136px;
  border: 1px solid var(--version-2-main-color, #2a3647);
  color: var(--version-2-main-color, #2a3647);

  &:hover {
    border: 1px solid var(--ligth-blue, #29abe2);
    color: #29abe2;

    svg > * > * {
      stroke: #29abe2;
    }
  }
}

.add-btn {
  border: none;
  background: #2a3647;
  color: #fff;

  &:hover {
    background-color: #29abe2;
    border-color: #29abe2;
  }
}

input[type="checkbox"] {
  width: 24px;
}

.created-task {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 326px;
  height: 74px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #2a3647;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 21px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.selected-low,
.selected-medium,
.selected-urgent {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  color: #fff !important;
  font-weight: 700 !important;

  path {
    fill: white;
  }
}

.selected-low {
  background: var(--prio-low) !important;
}

.selected-medium {
  background: var(--prio-medium) !important;
}

.selected-urgent {
  background: var(--prio-urgent) !important;
}

.drop-down-open {
  overflow-x: hidden;
  overflow-y: scroll;

  input {
    border: none;
  }
  span:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.dot {
  min-height: 20px;
  min-width: 20px;
  border-radius: 100%;
}
