<div class="content center relative">
  <img class="logo" src="assets/icons/logo.svg" alt="">
  <form class="center column gap-35 relative" id="login">
    <div class="headline column center gap-24">
      <h1>I forgot my password</h1>
      <div class="line"></div>
    </div>
        <span class="text-center">Don't worry! We will send you an email with the instructions <br> to reset your password.</span>
    <div class="relative input column">
      <input type="text" name="username" placeholder="Email" [(ngModel)]="email" required>
      <img src="assets/icons/email.svg" alt="">
    </div>
      <button class="btn">Send me the email</button>
    <img routerLink="/login" class="arrow-left" src="assets/icons/arrow-left.svg" alt="">
  </form>
</div>