<div class="content">
  <img src="assets/img/logo.png" alt="">
  <nav>
    <a class="display-flex center" routerLink="/summary" routerLinkActive="active">
      <div class="aside-icon"><img src="assets/icons/summary.svg" alt=""></div><span> Summary</span>
    </a>
    <a class="display-flex center" routerLink="/board" routerLinkActive="active">
      <div class="aside-icon"><img src="assets/icons/board.svg" alt=""></div><span> Board</span>
    </a>
    <a class="display-flex center" routerLink="add-task" routerLinkActive="active">
      <div class="aside-icon"><img src="assets/icons/add-task.svg" alt=""></div><span> Add task</span>
    </a>
    <a class="display-flex center" routerLink="/contacts" routerLinkActive="active">
      <div class="aside-icon"><img src="assets/icons/contact.svg" alt=""></div><span> Contacts</span>
    </a>
  </nav>
  <div class="legal-container">
    <a class="display-flex center legal-link" routerLink="/legal-notice" routerLinkActive="active">
      <div class="aside-icon"><img src="assets/icons/info.svg" alt=""></div><span> Summary</span>
    </a>
    <a class="display-flex center legal-link" routerLink="/privacy" routerLinkActive="active">
      <div class="aside-icon"><img src="assets/icons/info.svg" alt=""></div><span> Summary</span>
    </a>
  </div>
</div>