<div class="content">
  <img src="assets/img/logo.png" alt="">
  <nav>
    <a class="display-flex center" routerLink="/summary" routerLinkActive="active" ><img src="assets/img/summary.png" alt=""> Summary</a>
    <a class="display-flex center" routerLink="/board" routerLinkActive="active" ><img src="assets/img/board.png" alt="">Board</a>
    <a class="display-flex center" routerLink="add-task" routerLinkActive="active" ><img src="assets/img/add-task.png" alt="">Add Task</a>
    <a class="display-flex center" routerLink="/contacts" routerLinkActive="active" ><img src="assets/img/contacts.png" alt="">Contacts</a>
  </nav>
  <div class="legal-container">
    <a class="display-flex center legal-link" routerLink="/legal-notice" routerLinkActive="active" ><img src="assets/img/contacts.png" alt=""><span>Legal notice</span></a>
    <a class="display-flex center legal-link" routerLink="/privacy" routerLinkActive="active" ><img src="assets/img/contacts.png" alt=""><span>Privacy</span></a>
  </div>
</div>