.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 59.4px 18px;
  gap: 92.7px;
  background-color: var(--main-dark);
  width: 232px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  color: var(--aside-font-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14.4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  z-index: 8;

  @media (max-width: 750px) {
    flex-direction: row;
    align-items: unset;
    padding: unset;
    gap: unset;
    width: 100vw;
    height: 80px;
    position: fixed;
    top: unset;
    right: 0;

    .media-d-none {
      display: none;
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 13.5px;
  width: 232px;

  @media (max-width: 750px) {
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: unset;
    width: 100vw;
  }
}

a {
  gap: 9px;
  color: var(--aside-font-color);
  text-decoration: none;
  height: 41.4px;
  width: 100%;
  padding: 7.2px 47.7px;
  box-sizing: border-box;
  white-space: nowrap;

  .aside-icon {
    display: flex;
    width: 54.9px;
    align-items: flex-start;
  }

  span {
    width: 126px;
  }

  @media (max-width: 750px) {
    gap: 14px;
    color: var(--aside-font-color);
    text-decoration: none;
    height: 100%;
    width: 25%;
    padding: 8px 0;
    flex-direction: column;

    .aside-icon {
      display: flex;
      width: 22px;
      align-items: flex-start;
    }

    span {
      width: unset;
    }
  }
}

a.active {
  background-color: var(--main-dark-contrast);
}

.legal-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 13.5px;
  height: 260.1px;
  width: 208.8px;
}

.legal-link {
  height: 41.4px;
  padding: 7.2px 47.7px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;

  :active {
    background-color: var(--main-dark-contrast);
  }
}
