:root {
  --aside-font-color: #cdcdcd;
  --field-required: #ff8190;
  --field-wrong-msg: #ff001f;
  --main-bg-color: #f6f7f8;
  --main-black: #000000;
  --main-blue: #42abe2;
  --main-dark-contrast: #091931;
  --main-dark: #2a3647;
  --main-gray: #d5d5d5;
  --main-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  --main-white: #ffffff;
  --prio-low: #7ae229;
  --prio-medium: #ffa800;
  --prio-urgent: #ff3d00;
  --sub-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  --task-blue: #29abe2;

  --label-1: #0190e0;
  --label-2: #02cf3f;
  --label-3: #ee00d6;
  --label-4: #4e963d;
  --label-5: #ff7a00;
  --label-6: #1fd7c1;
  --label-7: #9327ff;
  --label-8: #f4f4f4;
}

body {
  margin: 0;
}

* {
  font-family: "Inter", sans-serif;
}

.display-flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.column {
  display: flex;
  flex-direction: column;
}

.gap-5 {
  gap: 5px;
}

.gap-8 {
  gap: 8px;
}

.gap-10 {
  gap: 10px;
}

.gap-13 {
  gap: 13px;
}

.gap-20 {
  gap: 20px;
}

.gap-24 {
  gap: 24px;
}

.gap-25 {
  gap: 25px;
}

.gap-26 {
  gap: 26px;
}

.gap-28 {
  gap: 28px;
}

.gap-35 {
  gap: 35px;
}

.gap-48 {
  gap: 48px;
}

.gap-54 {
  gap: 54px;
}

.gap-59 {
  gap: 59px;
}

.gap-67 {
  gap: 67px;
}

.over-x-scroll {
  overflow-x: scroll;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.max-width {
  max-width: 1400px;
}

.center-align-absolute {
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.d-none {
  display: none;
}

.error-message {
  color: var(--field-required);
  font-size: 12px;
  font-weight: 400;
}

.place-holder {
  height: 15px;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.primary-btn,
.secondary-btn {
  height: 44px;
  padding: 14.4px 12px;
  gap: 8px;
  border-radius: 8px;
  border: none;
  color: var(--main-white);
  font-size: 16.8px;
  font-weight: 700;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    border-color: var(--task-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    transition: all 225ms;
  }
}

.primary-btn {
  border: none;
  background: var(--main-dark);
  color: var(--main-white);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    background-color: var(--task-blue);
    border-color: var(--task-blue);
  }
}

.secondary-btn {
  background-color: transparent;
  border: 1px solid var(--main-dark);
  color: var(--main-dark);

  &:hover {
    border: 1px solid var(--task-blue);
    color: var(--task-blue);

    svg > * > * {
      stroke: var(--task-blue);
    }
  }
}

input,
textarea {
  display: flex;
  height: 40.8px;
  padding: 9.6px 16.8px;
  align-items: center;
  gap: 8px;
  min-width: 337.6px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--style, #d1d1d1);
  background: var(--main-white);
  font-size: 16.8px;
  font-weight: 400;

  &:focus {
    outline: none;
  }
}

textarea {
  height: 95.2px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding-right: 32px;
  border-radius: 8px;
}

input[type="checkbox"] {
  min-width: 16px;
  min-height: 16px;
  max-height: 16px;
  max-width: 16px;
}

.center-input-icon {
  position: absolute;
  right: 16.8px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes slideFromRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
